extends ./boilerplate/skeleton.pug

block head
  title VOYAGE: Your Traval Planner 
  
block body
  #container 
      mixin icon(name)
        span(class=['fa', 'fa-' + name])
      mixin heading(title, subtitle)
         h1.heading
          =title 
          span=subtitle
    
      header
        include ./parts/01-contact-nav.pug
        include ./parts/02-brand-nav.pug
      include ./parts/03-jumbo-carousal.pug
      include ./parts/04-holiday-finder.pug
      include ./parts/05-special-offers.pug
      include ./parts/06-holiday-types.pug