html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  $highlight_color: #1DD2AF;
  $top-nav-bgc: #2D3E50; 


@each $icon in user, file-o {
    .fa-$(icon):after {
        @icon: fa-$(icon); 
    }    
}

#top-nav {
    background-color: $top-nav-bgc;
    overflow: hidden;
    font-family: monospace;
    font-size: 0.6rem;

    .fa:after {
        color:white;
        padding-right: 0.4em;
    }

    & ul {
        @util reset-list;

        & li {
            display: inline-block;
            color:white;
            padding: 0.5%;
            padding-right: 1%;
            border: 1px outset color($top-nav-bgc shade(5%));
            border-width: 0 1px 0 0;

            & a {
                color: inherit;
                text-decoration: none;
                text-align: center;
                display: inline-block;
            }
        }
    }
    
#register_link {
    color: $highlight_color;
}
}


.custom-selector:after {
    @icon: fa-500px; /* 'fa-' is Prefix , '500px' is name Icon*/
    color: gold;
    /* ... your css code */
  }



