mixin modal-toggle-button(target_id = "modal_id", text = "TEXT GOES HERE", _attributes)
 button.btn(type='button', data-toggle='modal', data-target='#'+target_id)&attributes(_attributes)= text

mixin modal-toggle-a(target_id = "modal_id", text = "TEXT GOES HERE", href= "#", _attributes)
 a(href=href, tabindex=-1, data-toggle='modal', data-target='#'+target_id)&attributes(_attributes)= text
  block

mixin modal-template(modal_id="modal_id", title_id = "title_id", title = "TITLE GOES HERE", buttons= [{text:"Cancel", attributes:{"data-dismiss":"modal", class:"btn-secondary"}},{text:"Ok", attributes:{class:"btn-primary"}}])
 .modal.fade(id=modal_id, tabindex='-1', role='dialog', aria-labelledby=title_id, aria-hidden='true')
   .modal-dialog(role='document')
     .modal-content
       .modal-header
         h5(id=title_id).modal-title= title
         button.close(type='button', data-dismiss='modal', aria-label='Close')
           span(aria-hidden='true') &times;
       .modal-body
        if block
         block
        else
         p BODY GOES HERE
       if buttons
        .modal-footer
          each v in buttons
           button.btn(type="button")&attributes(v.attributes)= v.text
             
         
 