nav#top-nav
  mixin link(icon_name, text, url)
      li
        a(href=url || "#")
          +icon(icon_name)
          =text
  div
    ul
      +link('user', 'Agent Login')
      +link('user', 'Customer Login')
      li
        +icon('file-o')
        | Not A Member? 
        a.register_link(href="#") Register
      li 
        | Call Us Now:
        a(href='tel:815-123-4567') 815-123-4567 
      li.gap: a
      +link('facebook')
      +link('twitter')
      +link('tumblr')
      +link('pinterest')