nav#top-nav
  ul
    mixin icon(name)
      span(class=['fa', 'fa-' + name])
    
    mixin link(icon_name, text)
      li
        a(href="#")
          +icon(icon_name)
          =text

    +link('user', 'Agent Login')
    +link('user', 'Customer Login')
    li
      +icon('file-o')
      | Not A Member? 
      a#register_link(href="#") Register
    li Call Us Now: 815-123-4567
        
