nav#top-nav
  ul
    mixin link(icon, text)
      li
        a(href="#")
          i.material-icons=icon
          =text

    +link('person', 'Agent Login')
    +link('person', 'Customer Login')
    li
      i.material-icons note_add
      | Not A Member? 
      a#register_link(href="#") Register
    li Call Us Now: 815-123-4567
        
