section#brand-nav
  nav
    h1.brand-logo 
      | V
      span O
      | YAGE
    ul
      mixin link(text, url)
        li: a(href=url || "#", class= text === 'HOME' ? 'clicked' : undefined)=text
      each val in ["HOME", "destination", 'criuses', 'specials', 'holidays', 'blog']
        +link(val)
      li: button#search_button