section#jumbo_carousal
  div.background
    button.navbtn.previous
      +icon('chevron-left')
    button.navbtn.next.hasMoreValue
      +icon('chevron-right')
    div.content 
      p
        | TO TRAVEL IS TO LIVE 
        span You Don't Need Magic to Disappear. All you need is a Destination.
      .buttons 
        button.clicked SHOW ON THE MAP
        button MORE INFO  